@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&family=Press+Start+2P&display=swap');
@import url('body.css');
@import url('reset.rems.css');

:root {
  --font-primary: 'Kanit', sans-serif;
  --font-Game: 'Press Start 2P', cursive;
}

body{
  color: #ffffff;
}


