@import url('utilities.css');
@import url('reset.rems.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&family=Press+Start+2P&display=swap');

/* 

  1. Title
  2. Container Game
  3. Container Players
  4. Player 1 and PC
  5. Points Players
  6. Alerta de victoria

*/


/* Custom CSS */

/* 1. Title */
.title{
  font-size: 5rem;
  font-weight: 700;
}

/* Buttons Game Start and Reset */
.button-game{
  font-size: 4rem;
  margin: 5rem auto 5rem auto;
  display: flex;
  justify-content: space-evenly;
}


.game-init{
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: .3rem;
  font-weight: 300;
}

.game-init:first-child{
  background-color: rgb(26, 194, 62);
}
.game-init:last-child{
  background-color: rgb(216, 10, 10);
}

.disabled{
  color: #fff;
  padding: 1rem 2rem;
  border-radius: .3rem;
  font-weight: 300;
}

.disabled:first-child{
  background-color: rgb(111, 211, 133);

}

.disabled:last-child{
  background: rgb(216, 98, 98);
}

/* 3. Container Game */
.game{
  max-width: 95%;
  width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.rock, .paper, .scissor{
  cursor: pointer;
  font-size: 8rem;
}

/* 4. Container Players */
.stats{
  max-width: 95%;
  width: 80rem;
  margin: 5rem auto 0;
  display: flex;
  justify-content: space-between;
}

/* 5. Player 1 and PC*/
.points-player-1, .points-pc, .ronda, .empa{
  font-family: var(--font-Game);
  font-size: 4rem;
}

/* 6.Alerta Victoria */

.victoria{
  background-color: var(--colorPrimario);
  margin: 0 50rem;
  padding: 4rem 0;
  border-radius: 5px;
}

.victoria h3{
  font-size: 3.5rem;
  margin: 0;
}

.ganador{
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
}